<html>
  <head>
    <title>Beer Description</title>
  </head>
  <body>
    <div class="container">

    <form action="/beer" method="post">

      <input id = 'store_id' name = 'store_id' type = 'hidden' value = '{{ store.getId() }}'>


      <label>Enter your Beer's name</label>
      <input id="beer_name" name="beer_name" type="text">

      <label>Enter your Brewery's name</label>
      <input id="brewery_name" name="brewery_name" type="text">


      <label>Enter your ABV of your desired beer.</label>
      <input id="abv" name="abv" type="number">

      <label>Enter your IBU of your desired beer.</label>
      <input id="ibu" name="ibu" type="number">

      <label for 'beer_id'>Select a container type to add it to the beer.</label>
        <select id = "beer_id" name = "beer_id" type = "text">
            {% for element in all_beers %}
                <option value = "{{ element.getId() }}"> {{ element.getContainer() }} </option>
            {% endfor %}
        </select>

      <button type="submit">Submit Information</button>
    </form>
  </body>
</html>
