{% extends 'base.html.twig' %}

{% block main %}
  <div class="container">
    <h2>Growlr</h2>
      <h4>User Login</h4>
      <form action="/profile" method="get">
          <input id="user_name" name="user_name" type="text" placeholder="Username">
          <button type="submit">Submit</button>
      </form>

      <h4>Create New User</h4>

      <form action="/create_user" method="post">
          <input id="user_name" name="user_name" type="text" placeholder="Username">
          <br>
          <input id="preferred_style" name="preferred_style" type="text" placeholder="Preferred style of beer">
          <br>
          <input id="region" name="region" type="text" placeholder="Region">
          <br>
          <button type="submit">Submit Information</button>
      </form>
  </div>
{% endblock %}