<html>
  <head>
    <title>Welcome to Growler!</title>
  </head>

  <body>

    <h3>Beer in Portland</h3>

    <div class="container">

        <form action="/create_user" method="post">
            <label>Enter your user name</label>
            <input id="user_name" name="user_name" type="text">


            <label>Enter your preferred beer style</label>
            <input id="preferred_style" name="preferred_style" type="text">


            <label>Enter a Region in Portland</label>
            <input id="region" name="region" type="text">
            <button type="submit">Submit Information</label>
        </form>

        <form action="/delete" method="post">
            <button type = "submit">Delete</button>
        </form>
    </div>

  </body>
</html>
