<html>
  <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
      <style type="text/css">
      input[type=text] {height:50px;width:200px;}
</style>
    <title>Beer Reviews</title>
  </head>
  <body>
        <div class="container">

    <div class="container">

    <label>Enter your Beer's Review</label>
    <input id="beer_review" name="beer_review" type="text">


    <label>Enter your Date of Review</label>
    <input id="date" name="date" type="date">

    <button type="submit">Submit Information</button>

    </div>



  </body>
</html>
