<html>
  <head>
    <title>Beer Reviews</title>
  </head>
  <body>
        <div class="container">

<<<<<<< HEAD
    <div class="container">

    <label>Enter your Beer's Review</label>
    <input id="beer_review" name="beer_review" type="text">

    <label>Enter your Date of Review</label>
    <input id="date" name="date" type="date">

    <button type="submit">Submit Information</button>

    </div>

=======
          <label>Enter your Beer's Review</label>
          <input id="beer_review" name="beer_review" type="text">
      
          <label>Enter your Date of Review</label>
          <input id="date" name="date" type="date">
      
          <button type="submit">Submit Information</button>

        </div>
>>>>>>> 90838f2018f1c0c267177f6ffb94a81a1b0b8071
  </body>
</html>
