<html>
  <head>
    <title></title>
  </head>
  <body>
        <div class="container">

          <label>Enter your Beer's Review</label>
          <input id="beer_review" name="beer_review" type="text">
      
          <label>Enter your Date of Review</label>
          <input id="date" name="date" type="date">
      
          <button type="submit">Submit Information</button>

        </div>
  </body>
</html>
