<html>
  <head>
    <title>Stores' Information</title>
  </head>

  <body>

    <div class="container">

    <label>Enter your Business'name</label>
    <input id="store_name" name="store_name" type="text">

    <label>Enter your Address for the business.</label>
    <input id="address" name="address" type="text">

    <button type="submit">Submit Information</button>

    </div>

  </body>
</html>
